
// ------------
// const variables
// ------------

// 根号 2
$sqrt2 = 2 ** (1 / 2)

// π
$pi = 3.141592659

// ------------
// basic variables
// ------------

// color
$primary = #2185d0
$secondary = #1b1c1d
$success = #21ba45
$warning = #fbbd08
$danger = #db2828
$muted = #bbb

$text-primary = #484848
$text-secondary = #9f9f9f

$border-color = #ddd

// size
$xxs = 4px
$xs = 8px
$sm = 16px
$md = 32px
$lg = 64px
$xl = 128px

$text-sm = 12px
$text-md = 14px
$text-lg = 16px
$text-xl = 18px
$text-2xl = 20px

// time
$transition-duration = .2s
